# Export functions
S3method(plot,cbamm_results)
S3method(print,cbamm)
S3method(print,cbamm_config)
S3method(print,cbamm_results)
S3method(summary,cbamm)
S3method(summary,cbamm_results)
export(apply_grade_weighting)
export(assess_evidence_sufficiency)
export(assess_network_inconsistency)
export(bayesian_decision_analysis)
export(bayesian_meta_analysis)
export(bayesian_meta_analysis_fixed)
export(calculate_heterogeneity_statistics)
export(calculate_i_squared)
export(calculate_pairwise_comparisons)
export(calculate_prediction_interval)
export(calculate_prediction_interval_fixed)
export(calculate_stability_metrics)
export(calculate_treatment_rankings)
export(cbamm)
export(cbamm_config)
export(cbamm_diagnostic)
export(cbamm_fast)
export(cbamm_forest)
export(cbamm_funnel)
export(cbamm_novelty_notes)
export(cbamm_optimized)
export(cbamm_plot)
export(check_package)
export(compute_analysis_weights)
export(compute_bayesian_stacking)
export(compute_robust_variance)
export(compute_transport_weights)
export(convert_effect_size)
export(create_cbamm_report)
export(create_contrast_data)
export(create_cumulative_dashboard)
export(create_ma_dashboard)
export(create_optimized_config)
export(create_summary_table)
export(create_vcov_matrix)
export(cross_design_synthesis)
export(cross_design_synthesis_unified)
export(cumulative_meta_analysis)
export(detect_outliers_iqr)
export(detect_study_conflicts)
export(determine_reference_treatment)
export(diagnostic_accuracy)
export(extract_nma_results)
export(extract_treatment_pairs)
export(fast_robust_rma)
export(forest_plot_classic)
export(format_ci)
export(format_p)
export(funnel_plot_classic)
export(funnel_plot_contour)
export(funnel_plot_trim_fill)
export(generate_advisor_recommendations)
export(generate_cbamm_plots)
export(get_bayesian_priors)
export(get_fast_bayesian_config)
export(get_jags_model_string)
export(ipd_meta_analysis)
export(is_network_connected)
export(launch_cbamm_dashboard)
export(launch_interactive_plots)
export(living_systematic_review)
export(merge_methods)
export(ml_meta_analysis)
export(network_meta_analysis)
export(optimize_config_for_performance)
export(p_curve_analysis)
export(p_curve_plot)
export(pet_peese)
export(plot_cumulative_ci)
export(plot_cumulative_estimates)
export(plot_cumulative_heterogeneity)
export(plot_cumulative_precision)
export(plot_evidence_trajectory)
export(plot_forest_evolution)
export(plot_forest_network)
export(plot_funnel_enhanced)
export(plot_inconsistency)
export(plot_influence_analysis)
export(plot_league_heatmap)
export(plot_network_diagram)
export(plot_network_enhanced)
export(plot_nma_forest)
export(plot_outlier_detection)
export(plot_publication_bias_suite)
export(plot_stability_assessment)
export(plot_treatment_ranking)
export(plot_treatment_rankings)
export(plot.cbamm_cumulative)
export(plot.cbamm_network)
export(plot.cbamm_results)
export(prepare_cumulative_data)
export(prepare_network_data)
export(print_optimization_info)
export(print.cbamm_bayesian)
export(print.cbamm_bias_suite)
export(print.cbamm_config)
export(print.cbamm_cumulative)
export(print.cbamm_dta)
export(print.cbamm_fast)
export(print.cbamm_ipd)
export(print.cbamm_living)
export(print.cbamm_network)
export(print.cbamm_optimized)
export(print.cbamm_results)
export(print.cbamm_timeseries)
export(publication_bias_suite)
export(report_meta_result)
export(reproduce_paper_results)
export(robust_rma)
export(run_adaptive_advisor)
export(run_basic_nma)
export(run_basic_random_effects)
export(run_bayesian_analysis)
export(run_bayesian_ma)
export(run_bayesian_network_ma)
export(run_brms_analysis)
export(run_conflict_detection)
export(run_core_meta_analysis)
export(run_cumulative_analysis)
export(run_dose_response)
export(run_empirical_bayes)
export(run_fixed_effects_ma)
export(run_frequentist_network_ma)
export(run_jags_analysis)
export(run_mcmc_meta)
export(run_missing_study_sensitivity)
export(run_multilevel_meta)
export(run_optimized_bayesian_analysis)
export(run_optimized_sensitivity_analyses)
export(run_publication_bias_sensitivity)
export(run_random_effects_ma)
export(run_sensitivity_analyses)
export(run_stratified_analysis)
export(run_transport_analysis)
export(rve_print)
export(safe_divide)
export(safe_robust_rma)
export(safe_run_core_meta_analysis)
export(se_to_var)
export(should_skip_bayesian)
export(should_skip_bayesian_analysis)
export(should_skip_expensive)
export(show_plot_gallery)
export(simulate_cbamm_data)
export(simulate_dta_data)
export(simulate_ipd_data)
export(simulate_sequential_data)
export(summarize_input_data)
export(summarize_weights)
export(summary.cbamm_cumulative)
export(summary.cbamm_dta)
export(summary.cbamm_ipd)
export(summary.cbamm_living)
export(summary.cbamm_network)
export(summary.cbamm_results)
export(test_fixed_plotting)
export(time_series_meta)
export(update_config)
export(update_living_review)
export(validate_cbamm_data)
export(validate_config)
export(validate_cumulative_inputs)
export(validate_network_inputs)
export(validate_network_structure)
export(var_to_se)
export(with_fallback)

# Imports
import(stats)
import(graphics)
import(utils)

export(standardize_cbamm_data)
export(cbamm_error)
export(cbamm_help)
export(from_metafor)
export(from_meta)
export(to_metafor)
export(to_meta)
export(print.cbamm)
export(summary.cbamm)
export(multivariate_meta_enhanced)
export(print.cbamm_multivariate)
export(network_meta_enhanced)
